<!doctype html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Gustavo Alves dos Reis A.K.A BLAKO">
  <title>Front End com Spring</title>
  <link href="css/Home.css" rel="stylesheet" type="text/css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body style="background-image: url(img/home_3.jfif); background-size: 100%;">
  <!--  Header -->
  <header th:replace="~{navbar :: navbar}"></header>

  <!-- MAIN -->
  <main>
    <div class="container">
        <!-- method="" Como os seus dados vão ser transferidos para o banco de dados -->
         <!-- Se usar get vai ser hackeado -->
        <form method="post">
            <div class="row">
                <div class="mb-3">
                    <label for="nome" class="form-label">Nome do evento:</label>
                    <input type="text" class="form-control" id="nome" name="nome" required>
                </div>
                
                <div class="mb-3">
                    <label for="local" class="form-label">Local:</label>
                    <input type="text" class="form-control" id="local" name="local" required>
                </div>
                
                <div class="mb-3">
                    <label for="data" class="form-label">Data:</label>
                    <input type="date" class="form-control" id="data" name="data" required>
                </div>
                
                <div class="mb-3">
                    <label for="hora" class="form-label">Hora:</label>
                    <input type="time" class="form-control" id="hora" name="hora" required>
                </div>

                <!-- Submit ja funciona por conta propria, se fosse um button daria problema -->
                <div class="mb-3">
                    <button type="submit" class="btn btn-danger">Cadastrar</button>
                </div>

            </div>
      </form>
    </div>
    
    <!-- "Navbar" -->
    
  </main>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
</body>

</html>