body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main{
    margin: 30px 100px;
}

form{
    margin: 30px 15px;
}

label, button{
    display: block;
}

label{
    margin: 5px 0px;
}

button{
    margin: 30px;
    font-size: 20px;
    font-weight: bolder;
    padding: 5px 10px;
    width: 150px;
    border-radius: 10px;
    background-color: rgb(150, 40, 40);
    color: #FFFFFF;
}

input, select{
    margin-bottom: 20px;
    border: none;
    outline: none;
    border-bottom: 2px solid darkred;
    transition: 2s ease;
}

select{
    background-color: lightgray;
}

/*Classe CSS*/
.nome, .data, .altura, .genero, .cpf, .num, .cep, .email, .cor, .sig{
    width: 500px;
}

h1, h2{
    color: crimson;
    text-shadow: 1px 1px 1px black;
}

input:focus, select:focus {
    border-bottom: 2px solid darkgreen;
    transition: 0.95s ease;
}

button:hover {
    background-color: #FFFFFF;
    color: crimson;
    transition: 0.2s ease;
}

h2{
    margin-top: -25px;
    margin-left: 26px;
}